.btn {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-black);
  background-color: var(--actions-color);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.btn:hover {
  background-color: var(--actions-hover-color);
}
